@model BibliAuth.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

    <section class="row g-5">
        @for (var i = 0; i < Model.LivreViewM.Count; i++)
        {
            <article class="col-xl-4 d-flex flex-row justify-content-center">
                <div class="container_img_reservation">
                    <a asp-action="Details" asp-route-id="@Model.LivreViewM[i].Id" class="col-xl-10">
                        <img class="img-fluid" src="~/Upload/@Html.DisplayFor(modeL => modeL.LivreViewM[i].CheminImage )" alt="Couverture de Livres" />
                    </a>
                    <button type="button" class="col-xl-12 btn btn-primary btn-lg mt-3">Réserver</button>
                </div>
                <ul class="col-xl-9">
                    <li>@Model.LivreViewM[i].Titre</li>
                <li>@Model.AuteurViewM[i].Prenom @Model.AuteurViewM[i].Nom</li>
                <li>Genre :@Model.GenreViewM[i].Nom</li>
                    <li>Date de parution : @Model.LivreViewM[i].Date_Parution</li>
                    <li>@Model.LivreViewM[i].Synopsis</li>
                </ul>
            </article>   

        }

        @*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@



    </section>






